{% extends "layout.html" %}
{% block content %}
<div class="contact-container">
  <h2>Mera naam ae David Chada</h2>

<p style="text-align:center;">David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada Chada</p>

<p style="text-align:center;">David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada David Chada Chada</p>
<h4 style="text-align:center;">Contact me at:am0247826@gmail.com</h4>
</div>
{% endblock %}
